beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
idna==3.6
importlib_resources==6.1.2
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pkg_resources==0.0.0
pyparsing==3.1.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
zipp==3.17.0
